:root {
  /* --default-font: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif; */
  --heading-font: "Arial Rounded MT Bold", "Arimo Bold";
  --tagline-font: "Segoe Print", "Arimo Italic";
  --text-font: "Bierstadt", "Arimo";

  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  width: 100%;

  color-scheme: light dark;
  color: black;
  /* background-color:  #efe1e1; */
  justify-content: "center";

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}
body {
  margin: 0px;
  padding: 0%;
  ::-webkit-scrollbar {
    display: none;
  }
}
* {
  margin: 0px;
  padding: 0px;
}
input {
  background-color: white; /* Ensure the background of input elements is always white */
  color: black; /* Optional: ensure text color in inputs is black */
}
