.Blogformmaindiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #efe1e1;
}

.Blogformmaindiv > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  background-color: #efe1e1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.Blogformmaindiv > form > input {
  width: 40%;
  padding: 1%;
  border-radius: 1vh;
  margin: 6vh 1vw;
  font-weight: bold;
}

.media-previews {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.image-preview {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin: 10px 0;
}

.image-preview img {
  width: 50%;
  aspect-ratio: 7 / 4;
}

.image-preview div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.image-preview textarea,
.video-preview textarea {
  width: 90%;
  resize: none;
  background-color: transparent;
  height: 30vh;
  color: black;
}

.image-preview div button {
  margin-top: 1vh;
  margin-bottom: 1vh;
  width: 50%;
  padding: 1vh;
  background-color: thistle;
  font-size: 1vw;
  border-radius: 1vh;
  border: none;
  font-weight: bold;
}

button[type="submit"] {
  width: 40%;
  margin: 2vh 0vh;
  padding: 1vh;
  font-size: 1.2vw;
  border-radius: 1vh;
  background-color: brown;
  border: none;
}

.Reactquill {
  width: 100%;
  min-height: 20vh;
  color: black;
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="10px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="10px"]::before {
  content: "10px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="11px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="11px"]::before {
  content: "11px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="12px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="12px"]::before {
  content: "12px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="13px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="13px"]::before {
  content: "13px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="14px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="14px"]::before {
  content: "14px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="16px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16px"]::before {
  content: "16px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="18px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="18px"]::before {
  content: "18px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="20px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="20px"]::before {
  content: "20px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="24px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="24px"]::before {
  content: "24px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="32px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="32px"]::before {
  content: "32px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="42px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="42px"]::before {
  content: "42px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="54px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="54px"]::before {
  content: "54px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="68px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="68px"]::before {
  content: "68px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="84px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="84px"]::before {
  content: "84px";
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value="98px"]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="98px"]::before {
  content: "98px";
}

/* Quill editor custom fonts */
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="Arial"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Arial"]::before {
  content: "Arial";
  font-family: "Arial", sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="Verdana"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Verdana"]::before {
  content: "Verdana";
  font-family: "Verdana", sans-serif;
}

.ql-snow
  .ql-picker.ql-font
  .ql-picker-label[data-value="Times New Roman"]::before,
.ql-snow
  .ql-picker.ql-font
  .ql-picker-item[data-value="Times New Roman"]::before {
  content: "Times New Roman";
  font-family: "Times New Roman", serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="Courier New"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Courier New"]::before {
  content: "Courier New";
  font-family: "Courier New", monospace;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="cursive"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="cursive"]::before {
  content: "Cursive";
  font-family: "cursive";
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="Tahoma"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Tahoma"]::before {
  content: "Tahoma";
  font-family: "Tahoma", sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="Georgia"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Georgia"]::before {
  content: "Georgia";
  font-family: "Georgia", serif;
}

.ql-snow
  .ql-picker.ql-font
  .ql-picker-label[data-value="Comic Sans MS"]::before,
.ql-snow
  .ql-picker.ql-font
  .ql-picker-item[data-value="Comic Sans MS"]::before {
  content: "Comic Sans MS";
  font-family: "Comic Sans MS", cursive;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="Impact"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="Impact"]::before {
  content: "Impact";
  font-family: "Impact", sans-serif;
}

.ql-snow
  .ql-picker.ql-font
  .ql-picker-label[data-value="Lucida Sans Unicode"]::before,
.ql-snow
  .ql-picker.ql-font
  .ql-picker-item[data-value="Lucida Sans Unicode"]::before {
  content: "Lucida Sans Unicode";
  font-family: "Lucida Sans Unicode", sans-serif;
}

.ql-snow
  .ql-picker.ql-font
  .ql-picker-label[data-value="Palatino Linotype"]::before,
.ql-snow
  .ql-picker.ql-font
  .ql-picker-item[data-value="Palatino Linotype"]::before {
  content: "Palatino Linotype";
  font-family: "Palatino Linotype", serif;
}

/* Apply font-family to editor content */
.ql-editor {
  font-family: "Arial", "Verdana", "Times New Roman", "Courier New", "cursive",
    "Tahoma", "Georgia", "Comic Sans MS", "Impact", "Lucida Sans Unicode",
    "Palatino Linotype", sans-serif;
}

/* Additional CSS to apply selected font family to editor content */
.ql-font-Arial {
  font-family: "Arial", sans-serif;
}

.ql-font-Verdana {
  font-family: "Verdana", sans-serif;
}

.ql-font-Times\ New\ Roman {
  font-family: "Times New Roman", serif;
}

.ql-font-Courier\ New {
  font-family: "Courier New", monospace;
}

.ql-font-cursive {
  font-family: "cursive";
}

.ql-font-Tahoma {
  font-family: "Tahoma", sans-serif;
}

.ql-font-Georgia {
  font-family: "Georgia", serif;
}

.ql-font-Comic\ Sans\ MS {
  font-family: "Comic Sans MS", cursive;
}

.ql-font-Impact {
  font-family: "Impact", sans-serif;
}

.ql-font-Lucida\ Sans\ Unicode {
  font-family: "Lucida Sans Unicode", sans-serif;
}

.ql-font-Palatino\ Linotype {
  font-family: "Palatino Linotype", serif;
}
.ql-snow .ql-picker.ql-font .ql-picker-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px; /* Adjust the max-width as needed */
}
.ql-snow .ql-picker.ql-font .ql-picker-list {
  width: 5vw; /* Adjust the max-width as needed */
}

/* Style the images within the ReactQuill editor */
/* Increase specificity to override conflicting styles */
.ql-editor img {
  min-width: 100%;

  display: block;
  margin: 2vh auto;
}
