  .event-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 80vh;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 40px 50px 50px 30px;
    border-radius: 8px;
  }
  
  .event-item {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    cursor: pointer;
  }
  
  .event-item h3 {
    margin: 0 0 10px;
    font-size: 1.5em;
  }
  
  .event-times p {
    margin: 5px 0;
    font-size: 1em;
  }
  
  .meet-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #0F9D58;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1em;
    transition: background-color 0.3s;
    text-align: center;
  }
  
  .meet-button:hover {
    background-color: #0B7A44;
  }
  
  .event-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* background: white; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border:2px solid blue;
    z-index: 99999;
  
  }
  
  .event-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    border:2px solid pink
  }
  
  .close-button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
  }
  
  .close-button:hover {
    background-color: #c9302c;
  }
  .remove-button {
    background: none;
    color: rgb(189, 38, 38);
    border: none;
    cursor: pointer;
  }
  
  .remove-button:hover {
    color: rgb(121, 31, 31);
  }
  