.Commentcomponent {
  /* border: 2px solid blue; */
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  background-color: #efe1e1;
  border-radius: 5px;
}

.Userphoto {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.Userphoto > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.UserComments {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Usercomment {
  margin-bottom: 10px;
}

.Usercomment > h3 {
  margin: 0;
  font-size: 1.2em;
}

.Userreplylike {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
  /* border: 2px solid blue; */
  width: 20%;
}

.Userreplylike > span {
  cursor: pointer;
  margin-right: 10px;
}

.commentreplyfield {
  /* border: 2px solid blue; */
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 15vh;
  margin-top: 1vh;
  background-color: transparent;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.commentreplyfield > textarea {
  height: 60%;
  outline: none;
  border: none;
  background-color: transparent;

  color: #000;
  resize: none; /* Prevents manual resizing */
  width: 100%;
  padding: 10px;
  box-sizing: border-box; /* Ensures padding is included in the element's total width and height */
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.commentreplyfield > div {
  height: 40%;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px solid blue; */
}
.commentreplyfield > div > button {
  width: 40%;
  background-color: red;
  border-radius: 1vw 1vw;
  outline: none;
  border: none;
  padding: 1vh;
  cursor: pointer;
}
.commentreplyfield > div > span {
  cursor: pointer;
}

.NestedComment {
  border: none;
  box-shadow: none;
  background-color: transparent;
  margin-left: 20px;
}

.commentpagemaindiv {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin: 5vh 0vh;
  margin-top: 1vh;
}

.commentpagemaindivdiv1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-width: 100%;
  margin-left: 1vw;
  margin-top: 1vh;
  /* border: 2px solid green; */
}
.commentpagemaindivdiv1 > div:first-child {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 2px solid yellow; */
}
.commentpagemaindivdiv1 > div:first-child > img {
  width: 5%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  /* border: 2px solid pink; */
}
.commentpagemaindivdiv1 > div:first-child > input {
  width: 90%;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 1vh;
  margin-left: 1vw;
  /* border: 2px solid red; */
  /* margin-bottom: -4vh; */
}
.addcommentbtndiv {
  /* border: 2px solid blue; */
  width: 40%;
  display: flex;
  justify-content: center;
}
.addcommentbtndiv > button {
  width: 30%;
  background-color: transparent;
  color: black;
  font-size: 1vw;
  padding: 1.5vh;
  border-radius: 1vh;
  border: none;
  margin: 0vh 1vw;
  cursor: pointer;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background-color: #d61e3f;
  color: white;
}

.NestedComment {
  margin-left: 20px;
  border: 2px solid blue;
}

.Userphoto img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* border: 2px solid green; */
}

.UserComments {
  margin-left: 10px;
  flex-grow: 1;
  /* border: 2px solid blue; */
}
.Usercomment {
  /* border: 2px solid green; */
}
.Usercomment > form {
  /* border: 2px solid blue; */
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.Usercomment > form > input {
  width: 50%;
  background-color: transparent;
  border: none;
  outline: none;
}
.Usercomment > form > div {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.Usercomment > form > div > button {
  /* border: 2px solid blue; */
  width: 40%;
  padding: 1vh;
  background-color: red;
  font-size: 1vw;
  border-radius: 1vh 1vh;
}

.Usercomment h3 {
  margin: 0;
  font-size: 14px;
}

.Usercomment span {
  font-size: 1.1vw;
  /* word-break: break-all; */
  word-wrap: break-word;
}

.Userreplylike {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.Userreplylike span {
  margin-right: 10px;
  cursor: pointer;
}

.commentreplyfield {
  margin-top: 10px;
}

.commentreplyfield textarea {
  width: 100%;
  height: 50px;
}

.commentreplyfield div {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.addcommentbtndiv {
  margin-top: 10px;
}

.input-field {
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 512px) {
  .commentpagemaindivdiv1 > div:first-child > img {
    width: 18%;
  }
  .commentpagemaindivdiv1 > div:first-child > input {
    width: 82%;
    word-wrap: wrap;
  }
  .addcommentbtndiv {
    /* border: 2px solid blue; */
    width: 40%;
    display: flex;
    justify-content: center;
    min-height: 100%;
    margin-bottom: 1vh;
  }
  .addcommentbtndiv > button {
    width: 40%;
    color: black;
    font-size: 4vw;
    padding: 0.5vh;
    border-radius: 0.3vh;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: #d61e3f;
    color: white;
  }

  .addcommentbtndiv > button:first-child {
    background-color: transparent;
    color: black;
  }
  .Commentcomponent {
    position: relative;
    /* border: 2px solid red; */
  }
  .UserComments {
    /* border: 2px solid slateblue; */
    width: 100%;
    position: relative;
    right: 20px;
  }

  .Userphoto {
    position: absolute;
    left: 3%;
  }

  .Usercomment {
    position: relative;
    left: 20%;
    width: 80%;
    /* border: 2px solid yellowgreen; */
  }

  .Usercomment > h3 {
    margin: 0;
    font-size: 5vw;
  }

  .Usercomment > form > input {
    /* border: 2px solid red; */
    width: 60%;
  }
  .Usercomment > form {
    border: 2px solid blue;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: c;
  }
  .Usercomment > form > div {
    width: 40%;
    /* position: relative; */
    margin-left: 40vw;
    border: 2px solid green;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .Usercomment > form > div > button {
    font-size: 3.5vw;
    width: 50%;
    border-radius: 0vh 0vw;
  }

  .Usercomment > form > div > button:first-child {
    background-color: transparent;
    color: black;
    outline: none;
    border: none;
  }

  .Usercomment > span {
    /* border: 2px solid blue; */
    font-size: 5vw;
    width: 70%;
  }

  .Userreplylike {
    width: 90%;
    /* border: 2px solid blue; */
    margin-left: 10%;
  }

  .commentreplyfield {
    width: 90%;
    margin-left: 10%;
    border: 2px solid burlywood;
  }
  .commentreplyfield > textarea {
    height: 60%;
    outline: none;
    border: none;
    background-color: transparent;
    /* border: 2px solid green; */

    color: #000;
    resize: none; /* Prevents manual resizing */
    width: 100%;
    padding: 10px;
    box-sizing: border-box; /* Ensures padding is included in the element's total width and height */
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  .commentreplyfield > div {
    height: 40%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .NestedComment {
    border: none;
    box-shadow: none;
    background-color: transparent;
    margin-left: 20px;
  }
}
