.my-event-list {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    /* justify-content: center; */
    width: 80%;
    height: 80vh;
    /* max-height: 90vh; */
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 40px 50px 50px 30px;
    border-radius: 1%;
  }
  
  .my-event-item {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .myevent-item> h3 {
    margin: 0 0 5px;
    font-size: 1.2em;
  }
  
  .my-event-item> p {
    margin: 5px 0;
    font-size: 0.9em;
  }
  