.Footer {
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #071b33;
  color: white;
  max-width: 100%;
}

.Footerdiv2 {
  display: flex;
  /* padding: 2vh; */
  padding-top: 2vh;
  padding-bottom: 2vh;
  justify-content: center;
  width: 100%;
}
.Footerdiv2div1 {
  /* border: 2px solid red; */
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.Footerdiv2div1 > div {
  width: 50%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* border: 2px solid red; */
}
.Footerdiv2div1 > div > h2 {
  font-size: 1.8vw;
}
.Footerdiv2div1 > div > p {
  font-size: 1.5vw;
  /* line-height: 0px; */
  color: rgb(207, 204, 204);
}
.footerlinks {
  font-size: 1.5vw;
  text-decoration: none;
  color: rgb(207, 204, 204);
}
.Footerdiv2 > iframe {
  width: 35%;
  max-width: 100%;
  height: 35vh;
}
.Footerdiv3 {
  padding: 1vh;
  text-align: left;
  width: 90%;
  /* border: 2px solid green; */
  font-size: 1vw;
}

@media screen and (max-width: 512px) {
  .Footer {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #071b33;
    color: white;
    max-width: 100%;
  }

  .Footerdiv2 {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 0vh;
    padding-bottom: 0vh;
    justify-content: center;
    width: 100%;
    /* border: 2px solid blue; */
  }
  .Footerdiv2div1 {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
    padding: 0vh 1vw;
  }

  .Footerdiv2div1 > div > h2 {
    font-size: 4.5vw;
  }
  .Footerdiv2div1 > div > p {
    font-size: 4.5vw;
    /* line-height: 0px; */
    color: rgb(207, 204, 204);
  }
  .footerlinks {
    font-size: 4vw;
    text-decoration: none;
    color: rgb(207, 204, 204);
  }
  .Footerdiv2 > iframe {
    width: 100%;
    height: 20vh;
  }
  .Footerdiv3 {
    padding: 1vh;
    text-align: left;
    width: 100%;
    /* border: 2px solid green; */
    font-size: 4.5vw;
  }

  .Footer > hr {
    display: none;
  }
}
