input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent ;
  -webkit-text-fill-color: #000 ;
  transition: background-color 5000s ease-in-out 0s;
}
.form_main{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border:1px solid #4e1a28; */
  width:40%;
  height: 70%;
  margin-left:20%;
  margin-top: 1%;
  border-radius: 5px;
  box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.10) ;
}
.form_main_div1{
  width: 60%;
  height: 100%;
  margin: 1px;


}
.form_main_div1 span{

  font-size: 20px;
  color:#4e1a28;
  position: relative;
  top:3%;
  left:30%;
}
.form_main_div2{
  width: 40%;
  height: 100%;
  background-color:#4e1a28;
  color: black;
  border-radius: 4px;


  /* margin: 1px;  */
}
.form_page {
  border: 2px solid #efe1e1;
  width:auto;
  height:485px;
  font-size: 10px;
  background-color: #efe1e1;
  margin-top: 6vh;
}

.form_page h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 300;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
  font-size: 40px;
}
.form_page h1 span{
  color: #D61e3f;
}

.form_form-container {
  position: relative;
  top:20%;
  max-width: 500px;
   margin:5%; 
   padding: 5px;
  border-radius: 5px;
}

.form_form-group label {
  display: block;
  margin-bottom: 10px; 
}
.form_form-group input,
.form_form-group textarea {
  width: 93%;
  padding: 12px;
  border: 1px solid #590404;
  border-radius: 2px;
  background-color:transparent;
}
.form_form-group textarea {
  resize: vertical;
  height: 75px;
}
.form_form-group button {
    width: 80%;
  padding: 10px 15px;
  background-color:#4e1a28;
  color: rgb(254, 251, 251);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 80px;
} 
.form_form-group button:hover{
  border:1px solid #4e1a28;
  /* font-style: bold; */
  color:#4e1a28;
  background-color: transparent;

}
.form_all{
  margin:8%;

}
.form_all_detail h2{
  color:#efe1e1;
  font-size: 20px;
  margin-top:5%;
  margin-left: 20%;

 
}
.form_all_detail p{
  margin-top: 4%;
  margin-left: 10px;
  font-size: 13px;
}
.form_all_detail h4{
  margin-top: 13px;
  margin-left: 10px;
  font-size: 20px;

}
.form_all_detail h5{
  margin-top: 5%;
  margin-left: 10px;
  font-size: 100%;
  font-style: normal;
}



