.Navbarmaindiv {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}

.navlogo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 2vw;
  width: 20vw;
}

.navlogo > img {
<<<<<<< HEAD:client/src/components/Navbar.css
  width: 300px;
  margin-top: 7px;
=======
  width: 18vw;
>>>>>>> ac67c9797615939615adb7b767e9b9cea181d38d:client/src/styles/Navbar.css
}

.navbuttons {
  display: flex;
  width: 50vw;
  justify-content: space-between;
  /* border: 2px solid green; */
  margin-right: 3vw;
  align-items: center;
}
.btn {
  /* border: 2px solid black; */
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.btn > button {
  width: 20%;
  /* margin-right: 50px; */
  background: transparent;
  color: black;
  padding: 0.5vw;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
  border: 2px solid black;
}

.btn > button:hover {
  border: 2px solid red;
}

.Regbtn {
  /* border: 2px solid blue; */
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Regbtn > button {
  /* border: 2px solid green; */
  width: 70%;
  padding: 2vh;
  font-size: large;
  background: transparent;
  color: black;
  border-color: red;
  border-radius: 2vw;
  cursor: pointer;
  animation: borderColorChange 2s infinite alternate; /* Add animation */
}

/* Define the keyframes for the border color animation */
@keyframes borderColorChange {
  0% {
    border-color: #fd5b2e;
  }
  50% {
    border-color: blue;
  }
  100% {
    border-color: green;
  }
}
