.notification-panel {
  width: 20%;
  max-height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 10%;
  top: 100%;
  overflow: hidden;
  border: 1px solid #ddd;
  font-family: "Arial", sans-serif;
}

.notification-panelcross {
  display: none;
}

.notification-panel h3 {
  padding: 15px;
  text-align: center;
  margin: 0;
  background-color: #67293a;
  color: white;
  border-radius: 10px 10px 0 0;
}

.notification-panel ul {
  padding: 10px;
  list-style-type: none;
  margin: 0;
  overflow-y: auto;
  flex: 1;
}

.notification-panel ul li {
  background: #fff;
  margin-bottom: 10px;
  padding: 12px 12px 10px 12px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  position: relative;
}

.notification-panel ul li.fade-out {
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translateX(-100%);
}

.notification-panel ul li p {
  margin: 0;
  font-size: 14px;
}

.notification-panel ul li small {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  color: #555;
}

.notification-panel ul li .dismiss-button {
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  border: none;
  font-size: 18px;
  color: #aaa;
  cursor: pointer;
}

.notification-panel ul li .dismiss-button:hover {
  color: #000;
}

.ios-spinner {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.ios-spinner:after {
  content: " ";
  display: block;
  width: 32px;
  height: 32px;
  margin: 4px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #000 transparent #000 transparent;
  animation: ios-spinner 1.2s linear infinite;
}

@keyframes ios-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Notification.css */
.notification-panel {
  max-height: 400px;
  overflow-y: auto;
}

.notification-item {
  transition: opacity 0.5s ease-out;
}

.notification-item.fade-out {
  opacity: 0;
}

@media screen and (max-width: 512px) {
  .notification-panel {
    width: 92%;
    max-height: 60vh;
    position: fixed;
    right: 4%;
    left: 4%;
    top: 10vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .notification-panelcross {
    display: flex;
    position: absolute;
    justify-content: flex-end;

    width: 95%;
    /* border: 2px solid blue; */
  }

  .notification-panel h3 {
    position: relative;
    padding: 15px;
    text-align: center;
    margin: 0;
    background-color: #67293a;
    color: white;
    border-radius: 10px 10px 0 0;
  }

  .notification-panel ul {
    padding: 10px;
    list-style-type: none;
    margin: 0;
    overflow-y: auto;
    flex: 1;
  }

  .notification-panel ul li {
    background: #fff;
    margin-bottom: 10px;
    padding: 12px 12px 10px 12px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    position: relative;
  }

  .notification-panel ul li.fade-out {
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: translateX(-100%);
  }

  .notification-panel ul li p {
    margin: 0;
    font-size: 14px;
  }

  .notification-panel ul li small {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: #555;
  }

  .notification-panel ul li .dismiss-button {
    position: absolute;
    top: 12px;
    right: 12px;
    background: transparent;
    border: none;
    font-size: 18px;
    color: #aaa;
    cursor: pointer;
  }

  .notification-panel ul li .dismiss-button:hover {
    color: #000;
  }

  .ios-spinner {
    display: inline-block;
    width: 40px;
    height: 40px;
  }

  .ios-spinner:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    margin: 4px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: #000 transparent #000 transparent;
    animation: ios-spinner 1.2s linear infinite;
  }

  @keyframes ios-spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  /* Notification.css */
  .notification-panel {
    max-height: 400px;
    overflow-y: auto;
  }

  .notification-item {
    transition: opacity 0.5s ease-out;
  }

  .notification-item.fade-out {
    opacity: 0;
  }
}
