.notification-panel {
  width: 300px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 10%;
  top: 100%;
  overflow: hidden;
  border: 1px solid #ddd;
  font-family: 'Arial', sans-serif;
}

.notification-panel h3 {
  padding: 15px;
  text-align: center;
  margin: 0;
  background-color: #67293a;
  color: white;
  border-radius: 10px 10px 0 0;
}

.notification-panel ul {
  padding: 10px;
  list-style-type: none;
  margin: 0;
  overflow-y: auto;
  flex: 1;
}

.notification-panel ul li {
  background: #fff;
  margin-bottom: 10px;
  padding: 12px 12px 10px 12px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  position: relative;
}


.notification-panel ul li.fade-out {
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease; 
  transform: translateX(-100%);
}

.notification-panel ul li p {
  margin: 0;
  font-size: 14px;
}

.notification-panel ul li small {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  color: #555;
}

.notification-panel ul li .dismiss-button {
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  border: none;
  font-size: 18px;
  color: #aaa;
  cursor: pointer;
}

.notification-panel ul li .dismiss-button:hover {
  color: #000;
}
