/* .Pscroll-container {
  height: 100vh;
  overflow-y: hidden;
  position: relative;
}

.Pscroll-content {
  height: 100%;
  width: 6000px;
  position: relative;
  display: flex; 
}

.element {
  width: 100px;
  height: 100px;
} */
