input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent;
  -webkit-text-fill-color: #000;
  transition: background-color 5000s ease-in-out 0s;
}

.signupdiv {
  margin: 0%;
  padding:0%;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.signupdiv1, .signupdiv2 {
  background-color: white;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: auto; /* Let the content determine the height */

}

.signupdiv1 {
  display: flex; /* Ensure proper display for flex properties */
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 30%;
  background-color: #efe1e1;
  /* margin-left: 20px; */
}

.signupdiv2 {
  background-color: white; /* Ensure the background is white */
}

.signupdiv2 h2 {
  color: #6c63ff;
  margin-top: 0px;
}

.signupdiv2 > div {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  border-radius: 0.3vw;
  padding: 0.25vw;
}

.signupdiv2 > div > input {
  width: 80%;
  border: none;
  outline: transparent;
}

.signupnormal {
  width: 80%;
  padding: 5px;
  background-color: #6c63ff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.signupnormal:hover {
  background-color: #574bff;
}
.alreadydiv{
  margin: 5px;
}

.signupdiv2 label {
  display: inline;
}

.signupdiv2 input {
  width: calc(100% - 20px);
  padding: 5px;
  background-color: transparent;
  border-radius: 5px;
  padding: 7px;
}

.terms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 7px;
}
.terms1>label{
  display:flex;
  justify-content:space-between
}
.terms1>label>p{
  margin-top: 15px;
}

.terms > input[type="checkbox"] {
  width: 1%;
  text-align: left;
}

.terms > p {
  /* width: 150vw; */
  
  text-align: right;
}

.divider {
  display: flex;
  align-items: center;
  width: 80%;
}

.divider .line {
  flex: 1;
  height: 1px;
  background-color: #000000;
}

.divider .or {
  margin: 0 10px;
  color: #000000;
}

.external-signup-text {
  margin-bottom: 1px;
  color: #000000;
}

.external-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 10px;
}

.icon-wrapper {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 42px;
  background: none;
  border: none;
  padding: 0;
}

.icon-new {
  width: 30px;
  height: 30px;
}

.icon {
  width: 35px;
  height: 35px;
}

.separator {
  margin: 0 0px;
  color: #000000;
  font-size: 24px;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .signupdiv1, .signupdiv2 {
    width: 90%;
    padding: 20px;
  }
  .signupdiv2 > div, .external-signup {
    width: 100%;
  }
}
