.Startmaindiv{
    display: flex;
    justify-content: space-between;
    border: 2px solid green;
    height: 80vh;
    width: 99vw;
}

.Startmaincontent{
    border: 2px solid blue;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.Startmainimages{
    border: 2px solid blue;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Startmainimages>img{
  
    object-fit: cover;
    aspect-ratio: 1/1;
}

.image1{
    border: 2px solid blue;
    position: relative;
    right:19vw;
    bottom: 14vh;
    width: 100px;
}
.image2{
    border: 2px solid blue;
    position: relative;
    left:1vw;
    bottom: 14vh;
    width: 100px;
}

.image3{
    border: 2px solid blue;
    position: relative;
    right:19vw;
    bottom: 14vh;
    width: 100px;
}.image4{
    border: 2px solid blue;
    position: relative;
    right:19vw;
    bottom: 14vh;
    width: 100px;
}
.startmainimagesquare{
    width: 35%;
    height: 35%;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}