.Start3 {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 0vh 0vh;
  /* background: linear-gradient(to right,#f9d6de, #edddf9, #fae7d6, #dcf9f3, #f4e9ec); */
  background-color:  #efe1e1;
}

.Start3div1 {
  /* border: 2px solid green; */
  width: 85%;
  min-height: 10vh;
  display: flex;
  align-items: center;
  font-size: 3vw;
  margin-bottom: 1vh;
}
.Start3div2 {
  /* border: 2px solid green; */
  width: 97%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}


.Start3div2div.scrolled > div {
  opacity: 1; /* Show the elements */
  transform: translateX(0); /* Move the elements into position */
}
.Start3div2div.scrolled > div >h2 {
  opacity: 1; /* Show the elements */
  transform: translateX(0); /* Move the elements into position */
}

.Start3div2div {
  /* border: 2px solid green; */
  min-height: 1vh;
  display: flex;
  justify-content: space-between;

}
.Start3div2div > div {
  /* border: 2px solid red; */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.Start3div2div > div > img {
  width: 75%;
  border-radius: 1vw;
  aspect-ratio: 3/2;
  
}

.Start3div2div > div > h2 {
  /* border: 2px solid yellow; */
  width: 75%;
  text-align: left;
  font-size: 3vw;
  opacity: 0; /* Initially hide the elements */
  transform: translateX(50px); /* Initial position off-screen */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.Start3div2div > div > p {
  /* border: 2px solid yellow; */
  width: 75%;
  text-align: left;
  font-size: 1.5vw;
  margin-top: 0px;
}


.lShapedDashedLine {
  position: relative;
  margin-left: 290px;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.dashedLineAnimation {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash 4s linear forwards;
<<<<<<< HEAD
}
=======
}


>>>>>>> 06c81495bf703615da777274818b37261cc43b51
