.Start1 {
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70vh;
}

.Start1div1 {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid blue; */
  margin-left: 3vw;
}
.square-container {
  width: 40%;
  height: 50%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  position: relative;
}

.corner-image {
  width: 8vw;
  height: 7vw;
  position: absolute;
  border-radius: 1vw;
  object-fit: cover;
  border: 2px solid red;
}

.top-left {
  top: -3vw;
  left: -4vw;
}

.top-right {
  top: -3vw;
  right: -4vw;
}

.bottom-left {
  bottom: -3vw;
  left: -4vw;
}

.bottom-right {
  bottom: -3vw;
  right: -4vw;
}
.Start1div2 {
  width: 45%;
  height: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 2px solid blue; */
}

.text-container {
  text-align: left;
  color: black;
}

.text-container > p {
  /* border: 2px solid green; */
  font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;

  font-size: 4rem;
  font-style: oblique;
  width: 60%;
}
