.Start4 {
  /* border: 2px solid blue; */
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #efe1e1;
}
.Start4div1 {
  /* border: 2px solid green; */
  /* height: 15%; */
  width: 90%;
  display: flex;
  align-items: center;
  font-size: 3.5vw;
}

.Start4div2 {
  /* border: 2px solid green; */
  min-height: 60%;
  display: flex;
  justify-content: center;
}

.Start4div2div1 {
  /* border: 2px solid red; */
  width: 50%;
  height: fit-content;
  font-size: 1.5vw;
  padding: 1.2vw;
}

.Start4div2div2 {
  /* border: 2px solid red; */
  width: 40%;
  max-height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Start4div2div2 > img {
  width: 50%;
  height: 75%;
  aspect-ratio: 2/7; /* This aspect ratio creates a tall, narrow shape */
  border-radius: 60%; /* This creates the egg shape */
}
