.Start3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #efe1e1;
  padding: 2rem 0;
}

.Start3div1 {
  width: 85%;
  min-height: 10vh;
  display: flex;
  align-items: center;
  font-size: 3vw;
  margin-bottom: 1vh;
}

.Start3div2 {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Start3div2div.scrolled > div {
  opacity: 1;
  transform: translateY(0);
}

.Start3div2div.scrolled > div > h2 {
  opacity: 1;
}

.Start3div2div {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.Start3div2div:nth-child(even) {
  flex-direction: row-reverse;
}

.Start3div2div > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Start3div2div > div > img {
  width: 75%;
  height: auto;
  border-radius: 10px;
  max-width: 100%;
}

.Start3div2div > div > h2 {
  width: 100%;
  font-size: 2vw;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  color: #333;
  margin-bottom: 0.5rem;
  text-align: center;
  overflow-wrap: break-word;
}

.Start3div2div > div > p {
  width: 100%;
  font-size: 1.5vw;
  margin-top: 0;
  color: #555;
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-word;
  overflow-wrap: break-word;
}

.lShapedDashedLine {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.dashedLineAnimation {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash 4s linear forwards;
}

@media (max-width: 768px) {
  .Start3 {
    padding: 1rem 0.5rem;
  }

  .Start3div1 {
    width: 100%;
    font-size: 4vw;
  }

  .Start3div2 {
    width: 100%;
  }

  .Start3div2div {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0 1rem;
  }

  .Start3div2div:nth-child(even) {
    flex-direction: column;
  }

  .Start3div2div > div {
    width: 100%;
    margin-bottom: 1rem;
  }

  .Start3div2div > div > img {
    width: 90%;
    border-radius: 5px;
    max-width: 100%;
  }

  .Start3div2div > div > h2 {
    font-size: 4vw;
    margin-bottom: 0.5rem;
  }

  .Start3div2div > div > p {
    width: 90%;
    font-size: 3vw;
    color: #555;
    line-height: 1.5;
    padding: 0 1rem;
  }

  .lShapedDashedLine {
    flex-direction: column;
    align-items: flex-start;
    margin: 0.5rem 0;
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .Start3div1 {
    font-size: 2.5vw;
  }

  .Start3div2div > div > h2 {
    font-size: 1.8vw;
  }

  .Start3div2div > div > p {
    font-size: 1.5vw;
  }
}

@media (min-width: 1600px) {
  .Start3div1 {
    font-size: 2vw;
  }

  .Start3div2div > div > h2 {
    font-size: 1.5vw;
  }

  .Start3div2div > div > p {
    font-size: 1.5vw;
  }
}

